---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Mayo 2024 - Actualidad",
    title: "Teaching Assistant",
    company: "Henry Tech LLC",
    description:
      "Asisto a los alumnos en la integracion al programa, ayudandolos a realizar tareas y proyectos utilizando SQL, Power BI y Python. Ademas de contribuir a la creacion de la comunidad para mejorar su experiencia en Henry.",
    link: "https://www.soyhenry.com/",
  },
  {
    date: "Marzo 2020 - Septiembre 2022",
    title: "Administrador de Ventas",
    company: "MAFELU S.A.S",
    description:
      "Encargado de la gestion del departamento de ventas, realizando reportes para indentificar oportunidades de mejora y crecimiento. Mejorando las ventas en linea en un 12% y la tasa de exito en licitaciones publicas hasta un 37%.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
